html {
    /* Sacado de https://css-pattern.com/ */
    background: rgb(250,247,247);
background: linear-gradient(90deg, rgba(250,247,247,1) 0%, rgba(127,207,252,1) 59%, rgba(250,252,140,1) 89%);
    
  }
  
  body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: larger;
  }
  
  .form-container{
    width: 75spx;
    background-color: white;  
    border-radius: 10px;
    padding: 50px
  }
  
  
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form+p, form p {
    text-align: center;
  }
  
  input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
  }
  
  button{
    background-color: #6495ed;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .error{
    color: rgb(255, 81, 81);
  }
  
  .escondido{
    display: none;
  }
  
  .sr-only{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  /* header*/
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 40px; /* Ajusta este valor según la altura de tu encabezado */
}

header {
    background-color: #f4f7f8;
    color: #080707;
    padding: 0.3em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 1em; /* Ajusta este valor según tu preferencia */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #e1e4f5;
}

nav a {
    color: 7#0c0606;
    text-decoration: none;
    padding: 0.3em;
    margin: 0 0.5em;
}

nav a:hover {
    background-color: #aaa7a7;
}


/* Footer Section*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #87CEFA, #ffff00);
}

header {
    background: linear-gradient(to right, #4F94CD, #ffffff);
    color: #333;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

nav {
    background: linear-gradient(to right, #4F94CD, #ffffff);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 30px; /* Ajusta este valor para subir o bajar el nav */
    width: 100%;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    padding: 60px 20px 20px 20px;
    margin: 20px;
    background: linear-gradient(to right, #ffffff, #f0f0f0);
    border-radius: 5px;
}

footer {
    background: linear-gradient(to right, #4F94CD, #ffffff);
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}